[2019-07-13 16:22] mindreframer opened #5 "Compatibility with liveview?"
Working example here:
https://github.com/slime-lang/phoenix_slime/commit/604e46b26eafe070b536f5e767771883143bb23b

Cheers!

[2019-07-13 16:32] mhanberg commented on #5
@mindreframer

The way Slime and Calliope work is by targeting EEx as the output. This allows them to pipe that into the normal LiveView toolchain.

However I have some ideas that might work!

[2019-07-15 07:25] mindreframer commented on #5
Excited to see them! This could a really great addition to the ecosystem.

Good luck!

[2019-07-23 11:05] krushi123 opened #8 "Can temple be adopted partially?"
Can I migrate from eex files gradually? That is, in the templates directory, both eex and exs files can be used. Is it possible?

[2019-07-23 18:18] mhanberg commented on #8
@krushi123 Yes.

Instead of calling `use Temple` in your `my_app_web.ex` file, I would call it in each view that will be using temple.

[code]

You can then use those templates in `eex` templates just like any other partial

[code]

Thanks for asking this question, I will add something to the README!

[2019-07-23 18:18] #8 closed

[2019-08-06 10:37] finalclass opened #10 "How to insert unescaped text?"
Is it possible to insert unescaped text in the template?

Please check this stackoverflow issue for the expanded question: https://stackoverflow.com/questions/57331864/how-to-insert-unescaped-text-in-elixir-temple-template

[2019-08-06 12:02] finalclass commented on #10
OK, nevermind. I've found a way to do that:
[code]

[2019-08-06 12:19] mhanberg commented on #10
If you would like to emit raw content into the HTML, I would use the `partial` macro from Temple and `Phoenix.HTML.raw` from phoenix_html.

[code]

I think that this is a bug actually. It should be escaping content passed to a tag. In this specific case, probably not since it is a script tag, but in the general case it should be escaped.

I'm not sure what you mean here, do you mind sharing an exa

[2019-08-06 12:47] finalclass commented on #10
Thx it works great with `Phoenix.HTML.raw`.
Regrading the attributes, it's all good. I got mistaken by something.
Can I quote you on stackoverflow or you would prefer to post there yourself?

[2019-08-06 13:16] mhanberg commented on #10
Feel free to quote me!

[2019-08-06 13:16] #10 closed

[2019-08-13 01:45] mhanberg opened #13 "Options to conditionally show an element"
## Proposal

Add some reserved options to elements to conditionally render them.

[code]

These would be preferred over the traditional method

[code]

[2019-08-13 15:06] shritesh commented on #13
I think it introduces unnecessary "magic". The following already works and I'd assume is "The Elixir Way" of doing things.
[code]

[2019-08-13 15:08] mhanberg commented on #13
@shritesh That is a good point, I didn't really think about using a single line `if` like that.

I wonder how to formatter would format that.

[2019-08-13 15:15] shritesh commented on #13
It formats exactly as I have presented. Our codebase at work is full of similar patterns. Here's an example screenshot.

<img width="561" alt="Screen Shot 2019-08-13 at 10 13 01 AM" src="https://user-images.githubusercontent.com/801803/62953342-fa23f680-bdb2-11e9-9fa9-bce36fd7c5b4.png">

[2019-08-13 16:46] mhanberg commented on #13
That looks good! Thanks for sharing that.

[2019-08-15 21:07] mhanberg opened #16 "SVG Support"
It is common for users to inline their SVGs.

Currently with Temple, this best way to do this would be by using a component and the `raw` function from phoenix_html.

[code]

This is obviously suboptimal. It makes it hard to format the code, as well as programmatically set the attributes.

It would be better to be able to use macros that correspond to the svg element.

[code]

## Goals

- [ ] Ther

[2019-08-17 04:05] shritesh commented on #16
I stumbled upon literally the same SVG issue yesterday and instead of `Phoenix.HTML.raw`, I decided to use the `~E` sigil. It feels more cleaner and supports EEx interpolation if needed.l

My mental model of Temple is that it's a direct replacement for `Phoenix.HTML`, as suggested by the docs. If something is supported by `Phoenix.HTML`, I expect it to work in Temple (I'm looking at you, `input_va

[2019-08-17 14:00] mhanberg opened #17 "DOCTYPE"
## Description

The HTML spec requires the DOCTYPE to be set in the beginning of the file. Temple currently does not emit this into the markup

## Workarounds

### E sigil

Add the following to your my_app_web.ex: `import Phoenix.HTML, only: [sigil_E: 2]`

Then you can add this line to the top of your layout: `partial ~E"<!<DOCTYPE html>"`

### Phoenix.HTML.raw

You can add the following to the to

[2019-08-17 14:16] mhanberg commented on #16
@shritesh I don't think of Temple as a replacement for Phoenix.HTML.

The goal of temple is to be able to write markup for web applications using Elixir, and to me this includes SVG, Phoenix form helpers and a template engine for the major web frameworks.

If someone wanted to add tags from MathML, I would be all for it! (It looks like very few browsers support MathML, so that particular case is u

[2019-08-17 16:59] r11132a commented on #17
Should the html macro be set to not take itself as part of an inner block?  Otherwise you'll get something like:

[code]
`{:safe, "<!DOCTYPE  html><html><!DOCTYPE html></html></html>"}`

[2019-08-17 17:11] mhanberg commented on #17
@r11132a i don’t think we need to care about that right now.

Down the line, it might be nice to output a warning about malformed markup, but not for the scope of this issue.

[2019-08-19 23:53] #17 closed

[2019-08-21 03:22] mhanberg commented on #13
I still think that this might be a decent improvement in the future, but i am going to close this issue for now.

[2019-08-21 03:22] #13 closed

[2019-08-21 15:05] jwbrew commented on #5
+1 to this. have just migrated a project to Temple and loving it. would be great to use it for liveview too.

@mhanberg do you have a channel for discussion? interested in talking about the process

[2019-08-21 15:07] mhanberg commented on #5
@jwbrew I created a channel in the Elixir slack: https://elixir-lang.slack.com/messages/CMH6MA4UD

[2019-08-27 19:05] shritesh opened #19 "Tags passed to `phx_link` get escaped"
**Describe the bug**
Tags passed to `phx_link` should generate unescaped html but don't.

**To Reproduce**
[code]

**Expected behavior**
The unescaped html should be wrapped in the link tag and not be escaped

**Screenshots**
<img width="344" alt="Screen Shot 2019-08-27 at 2 03 01 PM" src="https://user-images.githubusercontent.com/801803/63800322-7ea66700-c8d3-11e9-9149-093258ca8d92.png">

[2019-08-28 01:51] #19 closed, assigned to nobody

[2019-09-14 01:36] #16 closed

[2019-09-17 23:26] mhanberg opened #26 "Phoenix Live View Compatibility"
This is the tracking ticket for Phoenix Live View compatibility. I will be periodically updating it as I progress and learn more of what is involved.

## Progress

- [x] renders a live view using temple
- [x] renders void elements
- [x] renders non-void elements
- [x] renders text nodes
- [x] renders element attrs
- [x] renders arbitrary expressions
- [x] renders a for comprehension
- [x] renders

[2019-09-17 23:26] mhanberg commented on #5
Closing in favor of #26

[2019-09-17 23:26] #5 closed

[2019-10-04 10:51] absolutejam commented on #26
Looking forward to this. I'm currently experimenting with Live View for an internal application and wanted to move to using Temple, but didn't know how the two worked together.

Additionally, is it possible to render just a portion of a template using the `temple` macro? I don't want to fully replace my templates at the moment, but it would be nice to transition some of them to using Temple.

[2019-10-07 16:24] mhanberg commented on #26
## Update: 10/7/19

I haven't had a chance to work on this in a couple weeks. It is proving to be extremely non-trivial (I expected this), so if anyone wants to try their own hand at implementing it, I would welcome the contributions and ideas.

[2019-11-06 01:04] edjroot commented on #26
Would it be feasible (and a good idea) to just precompile the template and pass it to the LiveView engine, like [this](https://github.com/slime-lang/phoenix_slime/issues/71#issuecomment-491586510)?

[2019-11-06 14:41] mhanberg commented on #26
I am not sure. That solution is very easy for Slime and Phoenix HAML because those libraries produce EEx as a target, while Temple produces Elixir as the target.

Temple is fundamentally different than a traditional templating language, so I think it would be rather difficult to target EEx.

[2019-11-23 01:50] mikehostetler opened #34 "Mix Task fails without single root tag"
**Describe the bug**
When attempting to use `mix temple.convert` to translate an existing HTML file into Temple syntax, the conversion fails without a single root HTML tag.

_File 1_
[code]

_File 2_
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempting to run `mix temple.convert` on _File 2_ above fails

**Expected behavior**
Temple syntax should be reported to StdOut

**Desktop

[2019-11-23 03:01] mhanberg commented on #34
@mikehostetler Thanks for the bug report.

I will look into this, but at first glance I am wondering if it is failing because you are parsing an `eex` file and not vanilla html. The mix task is not designed for converting EEx to Temple, only vanilla html.

In the mean time, are you attempting to bootstrap a new app with Temple? You can use the layout generator to generate the Temple version of the

[2019-11-23 03:48] #34 closed

[2019-11-23 03:57] mhanberg commented on #34
@mikehostetler Please upgrade to v0.4.2 for the fix.

[2020-03-07 06:53] JasonMiller opened #53 "DSL Escape Hatch"
**Is your feature request related to a problem? Please describe.**
Would like an escape hatch from the DSL when necessary.

**Describe the solution you'd like**
I'd like to be able to call non-Temple functions that return `Phoenix.HTML.safe()` from within a `temple/1` block:
[code]

**Additional context**
Forgive me if this is already a feature and I've missed it in the documentation

[2020-03-07 06:55] JasonMiller commented on #53
Begging your forgiveness, I see `partial/1` is capable of just that. This rules.

[2020-03-07 06:55] #53 closed

[2020-03-11 00:30] garlandcrow opened #56 "CSS support in the DSL?"
Maybe this is something I'm missing from scanning documentation and the source code, but is there anyway to something like the script """ ... """ but for styles? Ideally I would like a way to just embed some CSS in one of those blocks and have the classes run through something like PostCSS to transform the classnames, but as a first step I would just like to define CSS in each file.

[2020-03-11 00:35] mhanberg commented on #56
You should be able to use the style tag for css.

[2020-03-11 00:36] #56 closed

[2020-03-11 01:43] garlandcrow commented on #56
Thanks for the quick response, yea that'll do it! If I get some downtime I might look into how hard it would be to add something like PostCSS if that's something you are also interested in. I like writing in a component sort of way (Svelte) with my CSS in the same file so I'd like if my classnames were local scoped to the component/template file which means doing some transform step to them.

[2020-03-11 01:55] mhanberg commented on #56
I don’t think that’s within the scope of this project, but feel free to work on a separate lib!

[2020-03-16 19:32] JasonMiller opened #59 "Don't Minify"
**Is your feature request related to a problem? Please describe.**
By default, Temple minifies markup, disregarding whitespace within blocks. For example:
[code]
outputs
[code]

**Describe the solution you'd like**
All tags should be joined by an newline. Output in the above example should be:
[code]
Maybe this could be a configurable option.

**Additional Comments**
[This line](https://github.com

[2020-03-16 19:47] mhanberg commented on #59
Hi, thanks for the bug report.

The solution is probably to replace the call to `|> Enum.join("")` with `|> Enum.join("\n")`.

[2020-03-16 19:50] JasonMiller commented on #59
I agree -- not sure I can see a usecase for joining on `""`. I've only come across one case where I _really_ didn't want whitespace and that could be hacked around with using `partial`.

[2020-03-24 09:55] zimt28 opened #63 "Add @props to components"
I think there's no way to access the list of props given to a component. It would be nice to have something like `@props` available. What do you think? I'd happily send a PR.

[2020-03-24 09:59] zimt28 opened #64 "Allow a list of elements as first param"
Currently it's not possible to do this:

[code]

It looks like Temple tries to convert @children to a string and in some cases succeeds, but not in a clean way. I have quite a few of these wrapper components and think it would be nice to remove those unnecessary `do` blocks.

[2020-03-24 14:11] mhanberg commented on #63
I think this would be a good enhancement, feel free to send a PR!

[2020-03-24 14:15] mhanberg commented on #64
That style is only for passing data to a text node.

You can just as cleanly (IMO) write this as

[code]

[2020-03-24 14:15] #64 closed

[2020-03-24 14:19] mhanberg commented on #63
Do you mind also sharing your use case for this enhancement?

[2020-03-24 14:59] zimt28 commented on #64
This would be nice but doesn't work, it would have to be

[code]

which I don't like. This is why I preferred the first arg approach. As I'm writing this I'm actually wondering, _should_ the way you suggested work? In this case it's either a bug or `{do: _block}` needs some special treatment.

[2020-03-24 15:05] mhanberg commented on #64
I think you're right, the way I suggested doesn't work.

[2020-03-24 15:23] zimt28 commented on #63
Sure. It's mainly for wrapper components, like a custom link component. Currently I do this:

[code]
This way I can still add custom attributes to the link:
[code]
Adding `@props` allows me to switch back to the official Temple repo.

[2020-04-09 02:52] mhanberg commented on #63
Closed by #66

[2020-04-09 02:52] #63 closed

[2020-04-09 02:54] #59 closed

[2020-04-14 14:44] mhanberg commented on #26
## Update 4/14/20

I have started up on this again and have already gotten something working. https://twitter.com/mitchhanberg/status/1249924897935106050?s=20

You can follow along the progress by cloning the [`rewrite`](https://github.com/mhanberg/temple/tree/rewrite) branch

[2020-06-16 19:33] mhanberg commented on #26
## Update 6/16/20

I have published an alpha release, `v0.6.0-alpha.0`, that is compatible with LiveView.

I have not built a full fledged LiveView app yet, so this will remain on as alpha until I can test it against some real usage.

[2020-06-24 14:07] mhanberg commented on #26
Doing some testing with LiveView.

With the current implementation, assignments in a template are compiled into a `<% ... %>` tag in the EEx template.

If you were converting a LEEx LiveView form one-for-one, it would look like

[code]

but, this would not work. Because the `%Form{}` is not being emitted into the markup, due to the current implementation.

To get this to work, you must place a cal

[2020-07-09 13:44] zimt28 commented on #26
I haven't updated Temple in a while but like the new implementation a lot, well done!

About `form_for/3` and similar cases, what about a wrapping `render_expr` macro or similar?

[code]

[2020-07-09 13:48] mhanberg commented on #26
@zimt28

Thanks!

Can you elaborate a little more?

[2020-07-09 14:31] zimt28 commented on #26
Not really a macro, but something like

[code]

[code]

[2020-07-09 21:25] zimt28 commented on #26
What about doing it the other way around: Any expression will be rendered by default. If people really want to assign variables or run some other code, which shouldn‘t be done in most cases anyway, they can use a special `code`, `hidden` or similar block.

[2020-07-10 13:30] mhanberg commented on #26
That is possible, I have played around with a `match!(pattern, value)` function that could be used.

[2020-07-10 15:03] zimt28 commented on #26
So `match!/2` would be used instead of regular `=` assignments? I don‘t have many templates where I actually run code in the templates instead of views or so, but when it happens it usually requires more than one line. Because of this I‘d prefer a `inline_only` block (naming is hard). Also, it might be a _little_ more obvious what it does than having a special match function.

[2020-07-10 15:14] mhanberg commented on #26
I'm currently adjusting the code to make it easier to add parser steps, so we'll what makes the most sense once that's done.

[2020-07-14 08:32] zimt28 commented on #26
Will `defcomponent` be added again? Two more things I noticed: Should HTML output be formatted? Tags currently don't get indented. And I think `phx_track_static: nil` should lead to `phx-track-static`, not `phx-track-static=""`.

[2020-07-14 09:42] zimt28 commented on #26
Will known tags like `h1` be usable without a block again (`h1 "Heading`)?

[2020-07-14 10:11] zimt28 commented on #26
As templates get converted, line numbers are wrong. Maybe there's a way to display correct numbers? Maybe Temple needs to convert line numbers 1 to 1.

[2020-07-14 14:01] mhanberg commented on #26
@zimt28

I am currently working on an interface for extracting partials. The API will probably not be exactly the same.

They get new lines inserted, but, no indent is not tracked.

Why? Does this have any impact?

We might be able to add the following syntax.

[code]

But, as you can see, the brackets are "ugly" 😄

I'm not sure. Today, you can achieve this by adding `do: `.

[code]

I'll look int

[2020-07-15 14:06] hfjallemark opened #85 "Using the new layout helpers does not work"
The new layout helpers that were released in Phoenix 1.5.0 does not work well with Temple 0.5.

E.g. using something like:

[code]

[2020-07-15 14:08] mhanberg commented on #85
Hopefully this will be fixed by 0.6.

[2020-07-17 01:37] mhanberg opened #87 "Component files should use .html.exs extension"
Components should use the the `.html.exs` extension.

[2020-07-26 18:12] mhanberg commented on #87
Not relevant any more

[2020-07-26 18:12] #87 closed

[2020-09-09 15:34] Bastes opened #92 "The `aliases` configuration does not seem to work"
**Describe the bug**
Attempting to alias functions from this awesome library to avoid name collisions (as per documentation) did not yield the expected result.

**To Reproduce**
[code]

[code]

All those configs results in warnings during compilation and an error when the server attempts to start:
[code]

**Expected behavior**
I would expect the `<link>` tag to be generated.

**Desktop (please com

[2020-09-09 15:39] mhanberg commented on #92
Thanks for the great bug report 👍

Do you mind testing this with the master branch and seeing if it is still broken? My current project uses master as well as the integration tests, and there doesn't seem to be any broken behavior.

Thanks!

[2020-09-09 15:40] mhanberg commented on #92
If it's fixed on master, I can push another release. I have fallen behind on releases because it was easier to just work on master for my current project.

[2020-09-09 16:36] Bastes commented on #92
Thanks for your quick response :smiley: I'll be sure to let you know once I've tried.

[2020-09-09 20:00] Bastes commented on #92
I just tried adding the `master` branch from this very repo:
[code]
Alas it fails to compile:
[code]
I'm not sure what I did wrong there :sweat_smile: if you see what's wrong with it don't hesitate to tell me.

[2020-09-09 20:09] Bastes commented on #92
Good news though: it's working fine with `0.6.0-alpha.4` now. But since that's the one I had when I reached out, I can't for the love of me figure out why it wasn't before. Weird.

[2020-09-09 20:12] Bastes commented on #92
So, I guess we can close that one?

[2020-09-09 20:15] mhanberg commented on #92
I think there is some weirdness about recompilation that I have yet to fix yet. If something sort of configuration isn't working, I would run `mix compile --force`, (I think it also works with `mix phx.server --force`)

[2020-10-20 10:52] Bastes opened #98 "Component modules seem not to work"
**Describe the bug**
Hi, we've been puzzled when trying to use components, after being misled by the documentations (not checking the latest, our bad), we've checked the latest (for the 0.6.0-alpha4 version) yet all we get when creating a component and using it in a view is an `undefined function` error.

**To Reproduce**
We have configured a path for components:
[code]

[code]

We made a componen

[2020-10-20 12:30] mhanberg commented on #98
The process for creating components has changed, please see the current documentation in the README for an example.

The things that should get your example working are

- Configuring your component prefix
- Changing the file extension from .html.exs to .ex
- Defining your component using the new module format.

The undefined function error is from your code attempting to call a function called "p

[2020-10-20 13:07] Bastes commented on #98
Thanks :) we had tried (and failed) to use the new method originally, and we noticed that the 0.6.0-alpha.4 tag was not on master and assumed it and the accompanying `README.md` was more up-to-date, not the other way around. We can close that issue (and we'll wave with the new one as soon as we try again on `master`)

[2020-10-20 13:07] #98 closed

[2020-10-20 13:07] mhanberg commented on #98
Oh, I apologize.

It's been some time since I worked on Temple, let me check what code is at version 0.6.0 rc4.

I have been using master in my own project in order to dog food it easier and haven't been publishing releases as frequently.

[2020-10-20 13:12] mhanberg commented on #98
Try renaming your file without html in the extension.

`permission_tag.exs`

[2020-10-20 13:24] Bastes commented on #98
Yes, we did try that and that did not work either.

We're not having it work with the module either, but that's probably because we're not on master. We'll be trying with the latest master.

[2020-10-20 13:25] Bastes commented on #98
(thanks for your help too, we appreciate it ; and this is an awesome lib by the way)

[2020-10-20 13:36] Bastes commented on #98
We tried and it works :)

We also found a typo in the README (`@behavior` instead of the Elixir `@behaviour` ; I'll send a PR to fix it :smiley:)

[2020-10-29 16:20] Bastes opened #100 "In a LiveView, `compact: true` does not seem to work"
**Describe the bug**
I'm using `compact: true` to avoid whitespaces in the `.alert` tags showing the flashes. The tags still get spaces inside in a liveview.

**To Reproduce**
[code]

In the non-liveview template, the paragraphs will have no whitespaces inside in the browser.
In a liveview template, the paragraphs will have two newline chars in the browser.

**Expected behavior**
All examples shou

[2020-10-29 17:38] mhanberg commented on #100
Can you try this with a normal leex template to see if you get the same behavior?

[2020-10-29 20:09] Bastes commented on #100
Good idea. Will do as soon as possible.

[2020-10-30 14:16] Bastes commented on #100
Tested in pure html `.leex` templates: the html shows no complementary whitespaces.

[2020-10-30 14:45] mhanberg commented on #100
Thanks for checking that.

In the mean time, you can use elixir to conditionally show your flash message instead of css

[code]

[2020-10-30 15:14] Bastes commented on #100
Sure, I'll be trying that ; I take it that will work with `live_flash`?

[2020-10-30 15:17] mhanberg commented on #100
Yes

[2020-10-30 15:23] Bastes commented on #100
Hmm... I don't quite know what happened, but after removing the `.leex` templates I used to test that they did not add unnecessary spaces, it appears the `compact: true` attribute is now working as intended.

I'm completely puzzled as to why it did not do that yesterday, but maybe there was some cache keeping the previous templates (without the `compact: true`) in memory and now I've reloaded the

[2020-10-30 16:08] #100 closed

[2020-11-10 19:56] Bastes commented on #92
Hi,

I'm re-opening this issue, having found an element for which `alias` does not seem to work.

To reproduce:
[code]
The temple version is used instead of the `Phoenix.HTML.Form` one, and of course the parameters don't work.

We don't know why but `link` and `label` are correctly aliased.

Hope it helps :)

[2020-11-10 20:19] mhanberg commented on #92
Can you try and run `mix deps.clean temple` and try again?

They way it's written now it's all done at compile time. So if you change you're configure, you need to make sure you recompile the Temple dep.

[2020-11-10 21:32] Bastes commented on #92
I'll try this first chance I get :) thanks.

[2020-11-12 11:16] Bastes commented on #92
It works :) thanks again, closing now.

[2020-11-12 11:16] #92 closed

[2021-01-02 18:36] mhanberg commented on #85
This should work now I believe.

[2021-01-02 18:36] #85 closed

[2021-01-02 18:37] mhanberg commented on #26
Temple now works with LiveView.

[2021-01-02 18:37] #26 closed

[2021-01-12 11:06] Bastes opened #106 "Docs are not clear about where to alias a component for use in a temple template"
**Describe the bug**
Placing aliases (as per the component section in the documentation) to shorten component atoms in a temple view outputs that atom's string representation in the resulting html.

**To Reproduce**
In a temple view:
[code]

[code]

**Expected behavior**
The alias should not appear in the compiled html, or the documentation should point out a way to avoid this.

**Desktop (please

[2021-01-12 12:59] Bastes commented on #106
Tested adding the aliases to the view module: it works. I'll send a PR to explain this in the `README.md` and `Component` module.

[2021-01-20 18:31] mhanberg commented on #106
I apologize that the docs were not clear on this.

Remember, these are normal views! You wouldn't alias a module in an eex template, so you wouldn't do it in a temple-ate.

What you've described is the intended behavior if you were to alias a module in a template.

[2021-01-20 21:54] Bastes commented on #106
Yep :) I applied your reviews too (thanks github :wink:).

[2021-01-20 23:03] #106 closed

[2021-02-16 01:46] rktjmp commented on #16
https://github.com/mhanberg/temple/blob/5acd6fc0799aaec584f5210ba81188457bdb694c/lib/mix/tasks/temple.convert.ex

I think the SVG auto-converter is removed now? Is it possible to reconstruct without the HTMLToTemple code?

Maybe a smaller external tool, like the elm example would be all that's needed instead, just for SVGs.

[2021-02-17 02:25] rktjmp commented on #16
I believe I can pretty easily leverage tree-sitter-html and it's WASM bindings to generate temple templates for SVGs (or likely, any html since doing it for some tags is as hard as all tags).

I will post back if I get anywhere.

[2021-02-17 06:51] rktjmp commented on #16
Here is a ***very basic*** proof of concept for converting HTML to Temple.

https://rktjmp.github.io/html-to-temple/

Sample svgs (click to copy): https://heroicons.dev/

It's very sketchy,

- UI has no error reporting
- It does not create `do:`, always `do/end`
- Change tracking on textareas is a bit weird, so it's on keydown as you type, or if you paste in some HTML, you must blur/clickout of th

[2021-02-17 09:00] rktjmp commented on #16
Ok. I fixed it for text objects and provided a bit more information. It should be more usable for most snippets though huge pastes of pages can be wonky, better for shorter snippets.

Probably about as far as I will take the translator.

[2021-04-04 10:19] rktjmp opened #116 "Component errors on missing @inner_content if additional options are given with do:"
**Describe the bug**
Components doesn't render `@inner_content` if additional options are given when using `do:` syntax.

**Desktop:**
 - OS: Linux
 - Temple Version  {:temple, "~> 0.6.0-rc.0"}
 - elixir 1.11.3-otp-23
 - erlang 23.2.3

**Reproduction**

Define the component as:

[code]

This works:

[code]

This works:

[code]

This does not work:

[code]

[2021-04-09 04:28] #116 closed

[2021-04-21 01:19] rktjmp opened #121 "String interpolation escapes HTML entities"
**Describe the bug:**

When using `#{...}` in a string, any `&html_entity;` in the string are escaped and rendered as text.

**Desktop:**

    OS: Linux
    Temple Version {:temple, "~> 0.6.0-rc.0"}
    elixir 1.11.3-otp-23
    erlang 23.2.3

**Reproduction:**

In template:
[code]

Rendered to view:
[code]

[2021-04-21 23:06] mhanberg commented on #121
This is is intended behavior. When you interpolate a string it compiles to `<%= "my string #{variable}" %>`, which leads to the literal html entities being shown as text.

You can either emit the variable on a different line than the string literal, or use the `raw` function from Phoenix HTML i believe with the whole string.

[2021-04-22 03:26] rktjmp commented on #121
:+1:

[2021-04-22 03:26] #121 closed

[2021-05-23 04:21] mhanberg opened #126 "Slots definitions aren't parsed correctly in nested components"
**Describe the bug**

See the title

**To Reproduce**

The following markup will result in the `Card` component grabbing the slot that was meant for the `LinkList`.

[code]

<details>
<summary>This compiles into the following AST</summary>
<pre>
%Temple.Parser.Components{
  assigns: [],
  children: [
    %Temple.Parser.Components{
      assigns: [],
      children: [
        %Temple.Parser.Compone

[2021-05-23 17:56] #126 closed

[2021-05-23 18:31] mhanberg opened #128 "[feature] Pass component module as slot name"
It would be cool to be able to pass a component as the slot name, allowing easier composition of shared markup.

Now

[code]

Then

[code]

Something like that at least

[2021-05-23 20:12] mhanberg opened #129 "[feature] fallback content for slots"
fallback content or optional slots will probably come in handy

[2021-05-23 20:41] mhanberg opened #130 "[feature] multiple instances of the same slot name"
it would be helpful to be able to define many slots with the same name and to be able to loop over them from inside the component.

This example also includes the ability to tag a slot definition with some metadata.

[code]

[2021-05-27 14:45] mhanberg opened #132 "[bug] Don't render the inner_block assign when building element attributes"
Description can be seen here: https://elixirforum.com/t/temple-html-dsl-for-elixir-and-phoenix/23940/29?u=mhanberg

this should reject the `inner_block` key and not render it

[code]

[code]

Currently, this will attempt to render it, but a function does not implement the phoenix Safe protocol, so it fails.

We can also potentially emit a warning if you try to pass types that cannot be rendered, s

[2021-05-28 00:27] mhanberg commented on #132
This actually works as expected and is correct.

[2021-05-28 00:27] #132 closed

[2021-06-01 19:17] rktjmp opened #133 "undefined function render_block/2 when combining mode: :live_view and slot in component"
**Describe the bug**

Setting `config :temple, :mode, :live_view` breaks slotted component.

**To Reproduce**

- Clone https://github.com/rktjmp/temple61-liveview-slot-bug
- `mix phx.server`
- observe error:
[code]

- edit `lib/bug_web/live/user_live/a_component.ex`, comment out line 33
- `mix phx.server`, observe no error
- edit `lib/bug_web/live/user_live/a_component.ex`, uncomment line 33
- edi

[2021-06-01 19:49] mhanberg commented on #133
Sorry you ran into this, I need to improve the documentation around this.

you need to make sure that the `Phoenix.LiveView.Helpers` are imported into your component modules.
What i've done in my app is add a `component` "clause" into `lib/my_app_web.ex`

[code]

and then i write my component like

[code]

[2021-06-02 05:45] rktjmp commented on #133
Yep that fixes it.

1)

On the topic, having a `normal` vs `live_view` config setting sort of implies they are exclusive, but normal views *seem* to work fine in live view mode.

I can understand that live views in normal mode might not get the diff tracking but is there a downside to just setting it to `mode: :live_view`, assuming you have at least one live view in the app? The code defaults to n

[2021-06-02 11:04] Knovour opened #134 "Self closing tags cause compile error"
**Describe the bug**
add `hr`, `input` or other self-closing tags in any html.exs files will cause compile error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `temple/integration_test/temple_demo/app.html.exs`
2. Add `hr`
3. See error

[code]

If I add attributes by Map type will cause another error.
[code]

Error message:

[code]

It works find when just type `hr id: "hr"`.

[2021-06-04 01:53] mhanberg commented on #134
I'm working on a fix for this, hopefully i'll release the patch by tonight

[2021-06-04 03:13] #134 closed

[2021-06-04 03:19] mhanberg commented on #134
@Knovour fixed in v0.6.2

[2021-06-07 20:37] jeffometer opened #136 "Error about missing inner_block assign when attempting to render a form in a component"
This is the bug I get: `** (ArgumentError) assign @inner_block not available in eex template.`

This is the code:

live/page_live.ex:
[code]

components/modal.ex
[code]

components/form.ex
[code]

Now if I render the form _outside_ of the modal component everything works fine.  Similarly, if I render another modal component inside the modal component everything works fine.  If I remove the `slot :

[2021-06-07 22:09] jeffometer commented on #136
Upon more exploration, these seems to specifically be a problem when using named slots.  `slot :default` works correctly, but `slot :named` wont.

[2021-06-07 22:17] mhanberg commented on #136
I think this might have been fixed in 0.6.1 https://github.com/mhanberg/temple/issues/126

[2021-06-07 22:26] jeffometer commented on #136
Yes!  You are correct, thank you!  Sorry I didn't notice the bug fix previously.

[2021-06-07 22:26] #136 closed

[2021-09-01 17:35] DavidOliver opened #146 "Temple 0.8.0 + Phoenix 1.5 results in 'Duplicated modules' when building Mix release"
I believe this is because Temple 0.8.0 specifies `phoenix_view` as a dependency, and Phoenix 1.5 has its own `Phoenix.View`. ([Phoenix 1.6 extracts `Phoenix.View` into its own project](https://github.com/phoenixframework/phoenix/blob/master/CHANGELOG.md).)

[code]

I'm using Temple 0.7.0 for now. :)

Edit: I don't know if this is worth fixing if Phoenix 1.6 will have its official release soon.

[2021-09-01 21:17] mhanberg commented on #146
Ope, good catch. I thought I had tested this in my personal app, but it seems like I forgot.

But, you're right. I don't think I'll plan on fixing this unless a large amount of people start using Temple and also can't upgrade to phoenix 1.6.

[2021-09-01 21:17] #146 closed

[2021-10-25 16:02] cvkmohan opened #154 "How to use heex and LiveView Components?"
Not sure I am framing the question right.
But, the new heex syntax is it supported via temple?
```<.form></.form>``` is the syntax for LiveView forms. Further Phoenix Component have a syntax like ```<.Button></.Button>``` How do we represent them in temple?
If they are already supported, a few examples in README will help immensely.

[2021-10-25 16:19] #154 closed, assigned to nobody

[2021-11-17 08:49] krushi123 opened #159 "Sigil Support?"
@mhanberg - Thanks for the wonderful library. I slowly got hang of what temple does - and - how it fits into the complete cycle.
For each small component, we need to have two files - one ```*.ex``` and ```*.lexs```. Instead, like ```~H``` sigil for ```heex``` or ```~F``` sigil for surface components - will it improve Developer Experience, if there is a sigil support for temple template?

[2021-11-17 12:03] #159 closed

[2021-11-19 01:26] mhanberg opened #161 "Compiler errors/warnings have incorrect line numbers"

[2021-11-22 01:26] mhanberg opened #162 "Components are broken with latest Phoenix Live.View release"
## Description

Components seem to not work with the latest release of Phoenix.LiveView.

I believe this is because liveview used to use a macro to render it's function components, but now it uses a regular function.

## Fix

Not Sure 😩.

[2021-11-22 13:53] mhanberg commented on #162
Note, this doesn't effect Temple components if you are not using Phoenix.LiveView

[2022-04-07 19:33] sax commented on #162
I'm seeing this on one application where I'm trying to add a temple form component:

[code]

When upgrading an older app with components to LiveView 0.17.8, things continue to compile. We don't see any clear different between the application setup to figure out what is different.

[2022-04-07 19:38] mhanberg commented on #162
can to share the mix.lock file for both apps?

[2022-04-07 23:11] sax commented on #162
Here is the one from the app where we see the error. @eahanson do you have mix.lock to compare from the other app?

[code]

[2022-04-07 23:30] eahanson commented on #162
[code]

[2022-04-20 03:57] mhanberg commented on #162
Fixed by #177

[2022-04-20 03:57] #162 closed

[2022-04-20 03:57] mhanberg commented on #161
Fixed by #177

[2022-04-20 03:57] #161 closed

[2022-04-20 03:57] mhanberg commented on #133
Closed by #177

[2022-04-20 03:57] #133 closed

[2022-10-11 11:20] formoxyz opened #183 "Dynamic attributes"
**Is your feature request related to a problem? Please describe.**
I want to pass dynamic attributes to a node say div
So i build the attributes as a keyword list like so
[code]
And then I create the  div like so
[code]
It gives a runtime error that list cannot be converted into string

**Describe the solution you'd like**
I don't know the solution but if attributes are keyword lists then the abov

[2022-10-12 11:22] formoxyz commented on #183
I have taken this up in the discussion, where it should have been. Sorry I am closing it here.

[2022-10-12 13:17] #130 closed

[2022-10-14 01:32] mhanberg commented on #183
Re-opening as this doesn't currently work and needs a tracking issue.

We need something similar to how in heex you can do `<div class="foo" {@rest}></div>`

[2022-10-14 01:43] mhanberg commented on #183
I think the cleanest thing I can think of is

[code]

Here, we can observe several things. reserved keywords are suffixed by `!`. The `let!` is used for declaring a slot parameter (unrelated to this issue, but would be a change) and `rest!` is used for passing extra dynamic attributes to the tag.

The example in [`Phoenix.Component.assigns_to_attributes/2`](https://hexdocs.pm/phoenix_live_view/0.1

[2022-10-30 07:36] formoxyz opened #187 "Attributes dynamically set to false are not discarded"
**Describe the bug**
As per temple docs if an attribute's value is false its discarded and not rendered.
for ex
[code]
would produce the following markup
[code]
Note that there is no attribute above with the name "a".
But if you set the value of the attribute dynamically, temple converts the value to string and outputs it into the markup.
[code]
would produce the following markup
[code]
**To Repro

[2022-10-30 17:08] mhanberg commented on #187
Thanks for the report, I'll try and get to this soon. I am going to a conference this week and still am working on my talk, so I'll likely not have time in the next few days.

[2022-10-31 17:02] formoxyz commented on #187
All the best for the conference talk. Is it online? How can we watch your talk?

[2022-11-01 00:00] mhanberg commented on #187
@formoxyz I believe you can still buy a virtual ticket at https://codebeamamerica.com/, (and use the discount code LetsTalkBEAM).

Or I think it will probably go on youtube in like a year

[2022-11-03 15:32] mhanberg commented on #187
[code]
<img width="911" alt="image" src="https://user-images.githubusercontent.com/5523984/199764081-91321681-61bf-4828-b879-2614214bb205.png">

test case that reproduces the issue. I think i have a vague memory of this regression.

I think I allowed this because when it previously worked, it required introducing runtime functions specific to temple and I was worried about getting the whole thing

[2022-11-12 03:28] #187 closed

[2022-11-15 14:38] mhanberg commented on #183
@formoxyz if you get a chance, would you mind testing out this branch?

If you can't, no worries

[2022-11-16 13:59] mhanberg commented on #183
I should clarify, you can now pass dynamic attributes with the syntax you proposed as well as mixing them in with static attributes via the `:rest!` attribute.

You can also mix in arguments to a component with `:rest!` as well.

But that just made me think... probably need that for slot attributes as well.